# Funções - Exercícios

### Crie uma função de nome `pedir_agua` e que apenas imprima "Estou com sede!"

Depois, chame está função

In [ ]:
def pedir_agua():
  print('Estou com Sede!')

In [ ]:
#@title  { display-mode: "form" }
def pedir_agua():
  print("Estou com sede")

pedir_agua()

### Crie uma função que multiplique três números
Depois, chame essa função com os parâmetros: 10, 5, 12

In [ ]:
def multiplicar(n1,n2,n3):
  return n1*n2*n3

multiplicar(10,5,12)

600

In [ ]:
#@title  { display-mode: "form" }
def multiplicar_numeros(a,b,c):
  return a*b*c

multiplicar_numeros(10, 5, 12)

### Crie uma função que receba uma temperatura em Celsius e retorne em Fahrenheit

Converta as seguintes temperaturas 0°, 21°, 38°, 50°

Dica: Para converter de Celsius para Fahrenheit, multiplique por 1.8 e some 32

In [ ]:
def converter_temperatura(x):
  return (x*1.8) + 32

print(converter_temperatura(0))
print(converter_temperatura(21))
print(converter_temperatura(38))
print(converter_temperatura(50))

32.0
69.80000000000001
100.4
122.0

In [ ]:
#@title  { display-mode: "form" }
def converter_c_para_f(celsius):
  fahrenheit = (celsius * 1.8 ) + 32
  return fahrenheit

print(converter_c_para_f(0))
print(converter_c_para_f(21))
print(converter_c_para_f(38))
print(converter_c_para_f(50))

32.0
69.80000000000001
100.4
122.0

### Crie uma função com nome `converter_valor_absoluto` que recebe um número e retorna o valor absoluto deste número, ou seja:
- se receber o número 8 retornará 8;
- se receber o número -8, retornará 8 também.

Teste  com os número `5` e `-5`

In [ ]:
def converter_valor_absoluto(x):  
  return (lambda x: -x if(x<0) else x)(x)

print(converter_valor_absoluto(5))
print(converter_valor_absoluto(-5))

5
5

In [ ]:
converter_valor_absoluto = lambda x: -x if(x<0) else x
print(converter_valor_absoluto(5))
print(converter_valor_absoluto(-5))

5
5

In [ ]:
#@title  { display-mode: "form" }

def converter_valor_absoluto(num):
  if num >= 0:
    return num
  else:
    return -num

print(converter_valor_absoluto(5))
print(converter_valor_absoluto(-5))