# Estruturas de repetição - Exercícios

Crie um código que imprima todos os nomes da lista abaixo

In [ ]:
nomes = ['Felipe','Marcela','Heloisa','Bruno','Vitoria','Barbara','Andreza','Bernardo']

In [ ]:
for nome in nomes:
  print(nome)

Felipe
Marcela
Heloisa
Bruno
Vitoria
Barbara
Andreza
Bernardo

In [ ]:
#@title  { display-mode: "form" }
for nome in nomes:
  print(nome)

## Da lista de números abaixo, crie uma estrutura de repetição usando `for` encadeada com uma estrutura condicional que imprima:

* `É múltiplo de 3` se o número for múltiplo de 3
* `É múltiplo de 5` se o número for múltiplo de 5
* `É outro número` caso contrario

In [ ]:
numeros_ex1 = [2,3,5,7,8,10,12,14,15,17]

In [ ]:
for numero in numeros_ex1:
  if numero % 3 == 0:
    print('{} é multiplo de 3 '.format(numero))
  elif numero % 5 == 0:
    print('{} é multiplo de 5'.format(numero))
  print('{} não é multiplo de 3 ou de 5 ou de ambos'.format(numero))

2 não é multiplo de 3 ou de 5 ou de ambos
3 é multiplo de 3
3 não é multiplo de 3 ou de 5 ou de ambos
5 é multiplo de 5
5 não é multiplo de 3 ou de 5 ou de ambos
7 não é multiplo de 3 ou de 5 ou de ambos
8 não é multiplo de 3 ou de 5 ou de ambos
10 é multiplo de 5
10 não é multiplo de 3 ou de 5 ou de ambos
12 é multiplo de 3
12 não é multiplo de 3 ou de 5 ou de ambos
14 não é multiplo de 3 ou de 5 ou de ambos
15 é multiplo de 3
15 não é multiplo de 3 ou de 5 ou de ambos
17 não é multiplo de 3 ou de 5 ou de ambos

In [ ]:
#@title  { display-mode: "form" }
for i in numeros_ex1:
  if i % 3 == 0:
    print("É múltiplo de 3")
  elif i % 5 == 0:
    print("É múltiplo de 5")
  else:
    print('É outro número')

## Da lista de números abaixo, crie uma nova lista que contenha apenas os números múltiplos de 7

In [ ]:
numeros_ex2 = [4,5,7,8,10,14,17,21,31,45,49,70]

In [ ]:
lista = []
for numero in numeros_ex2:
  if numero % 7 == 0:
    lista.append(numero)
lista

[7, 14, 21, 49, 70]

In [ ]:
#@title  { display-mode: "form" }
nova_lista = []

for i in numeros_ex2:
  if i % 7 == 0:
    nova_lista.append(i)

nova_lista

In [ ]:
#@title  { display-mode: "form" }

#Com list comprehension
[i for i in numeros_ex2 if i % 7==0]

### **for** loop com **f-string**. Pegue a lista de nomes abaixo e com um `for` loop, imprima: "Olá, **nome**!". Substituindo o nome por cada elemento da lista

In [ ]:
#Rode essa célula
nomes = ['Sócrates', 'Pitágoras', 'Aristóteles', 'Platão', 'Parmênides']

In [ ]:
for nome in nomes:
  print(f'Ola {nome}!')

Ola Sócrates!
Ola Pitágoras!
Ola Aristóteles!
Ola Platão!
Ola Parmênides!

In [ ]:
#@title  { display-mode: "form" }

for nome in nomes:
  print(f"Olá, {nome}!")

### (Desafio) Dado a lista `numeros` abaixo. Faça um `for` loop que conte quantos são os números pares e quantos são os números ímpares

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9]
numeros_impares = 0
numeros_pares = 0

In [ ]:
for count in numeros:
  if count % 2 == 0:
    numeros_pares += 1
  else:
    numeros_impares +=1

print(f'numeros pares:{numeros_pares} e numeros impares{numeros_impares}')

numeros pares:4 e numeros impares5

In [ ]:
#@title  { display-mode: "form" }
for x in numeros:
  if x % 2 == 0:
    numeros_pares = numeros_pares + 1
  else:
    numeros_impares = numeros_impares + 1
print(f"Quantidade de numeros pares: {numeros_pares}")
print(f"Quantidade de numeros impares: {numeros_impares}")

Quantidade de numeros pares: 4
Quantidade de numeros impares: 5